In [1]:
import yfinance as yf
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///test001_Database.db')

In [3]:
def sql_importer(symbol,start='2023-01-01') :
    try:
        max_date = pd.read_sql(f'SELECT MAX(Date) FROM {symbol}',engine).values[0][0]
        print(max_date)
        new_data = yf.download(symbol,start=pd.to_datetime(max_date))
        new_rows = new_data[new_data.index > max_date]
        new_rows.to_sql(symbol, engine, if_exists='append')
        print(str(len(new_rows)) + ' new rows imported to DB')
    except:
        new_data = yf.download(symbol, start=start)
        new_data.to_sql(symbol,engine)
        print(f'New {symbol} table created with {str(len(new_data))} rows')

In [5]:
sql_importer('IBKR')

[*********************100%%**********************]  1 of 1 completed

2024-03-15 00:00:00.000000
0 new rows imported to DB

In [6]:
stocks=['VOO','SCHD','GOOG']
for i in stocks:
    sql_importer(i)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

New VOO table created with 302 rows

[*********************100%%**********************]  1 of 1 completed

New SCHD table created with 302 rows
New GOOG table created with 302 rows