In [1]:
import sweetviz as sv
import pandas as pd

In [2]:
penguins = pd.read_csv("penguins-Copy1.csv")
penguins.drop('species', axis=1 ,inplace =True)
penguins.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [3]:
clean_penguins = penguins.dropna()
clean_penguins.head(8)

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Torgersen,39.2,19.6,195.0,4675.0,MALE
12,Torgersen,41.1,17.6,182.0,3200.0,FEMALE

In [4]:
clean_penguins.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 0 to 343
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   island             333 non-null    object
 1   bill_length_mm     333 non-null    float64
 2   bill_depth_mm      333 non-null    float64
 3   flipper_length_mm  333 non-null    float64
 4   body_mass_g        333 non-null    float64
 5   sex                333 non-null    object
dtypes: float64(4), object(2)
memory usage: 18.2+ KB

In [5]:
analyze_report = sv.analyze(clean_penguins)
analyze_report.show_html('analyze_penguins.html')

                                             |                                             | [  0%]   00:00 ->â€¦

Report analyze_penguins.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.